# Dados de conteúdo/amostras
data/

# Variáveis sensíveis no Terraform
terraform/*.tfvars

# States do Terraform
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform/
terraform/.terraform.lock.hcl

# Arquivos de configuração do VS Code
.DS_Store